@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 0;
  font-size: 32px;
}

@media only screen and (max-width: 768px) {
  .header-title {
    font-size: 24px;
  }
}

/* ================================================= */
#btn--tutorials {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 30px;
  border: none;
  color: #fff;
  background-color: #ff6f61;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#btn--tutorials:hover {
  background-color: #ff463b;
  transform: translateY(-2px);
}

/* Media query for smaller devices */
@media only screen and (max-width: 768px) {
  #btn--tutorials {
    font-size: 16px;
    padding: 10px 20px;
  }
}

/* Animation for hover effect */
@keyframes buttonHover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

#btn--instructions:hover {
  animation: buttonHover 0.3s ease;
}

/* ==========================================Game Button Styles */
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: #ff6666;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #ff4d4d;
}

/* Media query for smaller devices */
@media only screen and (max-width: 768px) {
  .btn {
    padding: 8px 16px;
    font-size: 16px;
    margin: 5px;
  }
}

/* ===================================GAME cONTAINER sTYLES */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin: 1rem auto;
  padding: 20px;
  background-color: #f2e8cf;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* ========================================Players Container Styles */
.players {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .players {
    flex-direction: column;
    align-items: center;
  }
}

.player {
  flex-basis: 45%;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #ffcc00;
  border-radius: 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .player {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

.player--active {
  background-color: #ffcc00;
}

.score {
  font-size: 24px;
}

.current {
  margin-top: 10px;
}

.dice-container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: bounce 1s infinite alternate;
}

.dice {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}

.game-controls {
  text-align: center;
  margin-bottom: 20px;
}

/* Animation for dice */
@keyframes rollDice {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) translateY(-50%);
  }
  100% {
    transform: rotate(360deg);
  }
}

.roll-animation {
  animation: rollDice 1s cubic-bezier(0.1, 0.57, 0.1, 1) infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
